# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List the commonly used libraries used by Data Scientists
- a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter            |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60

def minutes_hours(minutes):
    hours = minutes/60
    return hours

minutes_hours(200)

3.3333333333333335

## Author: Jean Kevin Gonzalez Parra